<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap     = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id            = "br.MeatBalls.cultz"
        versionCode   = "1" 
        version       = "0.4" >


    <name>Cultz</name>

    <description>
        App Cultz
    </description>

    <author href="http://www.lazulistudio.com.br" email="">
        Lazuli Studio
    </author>


    <icon src="icon.png" />

    <preference name="android-minSdkVersion" value="14" />

    <preference name="orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />

    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <preference name="StatusBarBackgroundColor" value="#000000" />

    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <!-- <gap:plugin name="nl.kw.cordova.androidviewport" version="0.0.5" /> -->
    <!-- <plugin name="com.jamiestarke.webviewdebug" source="pgb" /> -->

    <gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="1908908612666620" />
        <param name="APP_NAME" value="Cultz" />
    </gap:plugin>

    <gap:plugin name="onesignal-cordova-plugin-pgb-compat" source="npm" />
    <gap:plugin name="cordova-plugin-googleplayservices" source="npm" />

    
    <gap:config-file platform="android" parent="/manifest">
        <application android:debuggable="true" />
    </gap:config-file>

    <gap:plugin name='org.crosswalk.engine' version='1.3.0' source='pgb' />

    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" />
    
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />


</widget>