<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap     = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id            = "br.MeatBalls.cultz"
        versionCode   = "1" 
        version       = "0.4" >


    <name>Cultz</name>

    <description>
        App Cultz
    </description>

    <author href="http://www.lazulistudio.com.br" email="">
        Lazuli Studio
    </author>


    <icon src="icon.png" />

    <icon src="images/icones/mipmap-ldpi/ic_launcher.png" platform="android" qualifier="ldpi" />
    <icon src="images/icones/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
    <icon src="images/icones/mipmap-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
    <icon src="images/icones/mipmap-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
    <icon src="images/icones/mipmap-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />
    <icon src="images/icones/mipmap-xxxhdpi/ic_launcher.png" platform="android" qualifier="fr-xxhdpi" />


    <preference name="android-minSdkVersion" value="14" />

    <preference name="orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />

    <plugin name="cordova-plugin-statusbar" spec="~2.2.1" />
    <preference name="StatusBarBackgroundColor" value="#000000" />

    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
    <!-- <gap:plugin name="nl.kw.cordova.androidviewport" version="0.0.5" /> -->
    <!-- <plugin name="com.jamiestarke.webviewdebug" source="pgb" /> -->

    <gap:plugin name="cordova-plugin-facebookconnect-orlando" spec="0.11.0" source="pgb">
        <param name="APP_ID" value="1908908612666620" />
        <param name="APP_NAME" value="Cultz" />
    </gap:plugin>

    <plugin name="cordova-plugin-geolocation" spec="2.4.2" source="npm" />
    <gap:plugin name="onesignal-cordova-plugin-pgb-compat" spec="2.0.10" source="npm" />
    <gap:plugin name="cordova-plugin-googleplayservices" spec="19.0.3" source="npm" />

    
    <gap:config-file platform="android" parent="/manifest">
        <application android:debuggable="true" />
    </gap:config-file>

    <gap:plugin name='cordova-plugin-crosswalk-webview' version='2.3.0' source='npm' />
    
    <gap:plugin name="cordova-plugin-whitelist" version='1.3.2' source="npm" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />


</widget>