<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.MeatBalls.cultz"
        versionCode = "1" 
        version     = "0.3" >


    <name>Cultz</name>

    <description>
        App Cultz
    </description>

    <author href="http://www.lazulistudio.com.br" email="">
        Lazuli Studio
    </author>


    <icon src="icon.png" />


    <preference name="orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />

    <preference name="phonegap-version" value="cli-5.4.1" />
    <preference name="android-build-tool" value="gradle" />

    <gap:plugin name="onesignal-cordova-plugin" source="npm" />


    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <preference name="StatusBarBackgroundColor" value="#000000" />

    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <!-- <gap:plugin name="nl.kw.cordova.androidviewport" version="0.0.5" /> -->

    <gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="1908908612666620" />
        <param name="APP_NAME" value="Cultz" />
    </gap:plugin>



    


</widget>